<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Editor</title>


    @Styles.Render("~/Content/bootstrap.min.css")


    @Styles.Render("~/bundles/mediumeditor/css")
    @Scripts.Render("~/bundles/mediumeditor/js")
    @Scripts.Render("~/bundles/jquery")


    @Scripts.Render("~/bundles/bootstrap")
    

</head>
<body>
    @RenderBody()

</body>
</html>
